body {
  font-family: Verdana;
  background: white;
  color: black;
  text-align: center;
}
article {
    width: 800px;
}

article header h1 {
    color: Blue;
}

article header p {
    background-color: red;
    color: white;
}

article figure  {
    width: 600px;
    background-color: gray;
    border: 3px solid black;
    padding: 5px;
}

article figure img {
    width: 100%;
}

nav ul{
  display: inline-block;
  list-style: none;
  padding-left: 0;
  border: 1px solid MediumVioletRed;
}

nav ul li{

}

nav ul li a{
  background-color: PaleVioletRed;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid MediumVioletRed;
  display: block;
}

nav ul li a:hover{
  background-color: MediumVioletRed;
}

nav ul li: last-child a {
  border-bottom: none;
}
